<app-banner></app-banner>
<div class="menu-lateral">
    <br><br>
<img class="Perfil" src="../assets/mario.jpg"   width="100px" >
<br><br><br><br>

<div class="list-group">
    
    <a id="listinha"  type="listinha" class="list-group-item list-group-item-action list-group-item-primary" >Quem sou Eu?</a>
    <a id="listinha" class="list-group-item list-group-item-action list-group-item-secondary">Formação</a>
    <a id="listinha" class="list-group-item list-group-item-action list-group-item-success">Projetos</a>
    <a id="listinha" class="list-group-item list-group-item-action list-group-item-danger">Experiencia</a>
    <a id="listinha" class="list-group-item list-group-item-action list-group-item-warning">Contato</a>
    

  </div>
  <br>
  <br><br><br><br><br><br><br>
  <div class="icons">
  <div><img class="face-emblema" src="../assets/insta.png"></div>
  <div><img class="face-emblema2" src="../assets/face.png"></div>
  <div><img class="face-emblema2" src="../assets/Octocat.png"></div>

</div>

</div>



<app-myskills></app-myskills>

